/* @import is a CSS rule that helps you load external fonts in your site */
/* You can copy-paste these import rules into your CSS by heading over to: */
/* https://fonts.google.com/ */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* The :root selector is used to set global CSS variables */
  /* All CSS variables must start with 2 dashes (i.e. "--") */
  --danger: #ff3300;
  --success: #33b127;
  --warning: #e7d90b;
  --primary: #006fd6;
  --primary-dark: #004d96;
  --primary-background: #111111;
  --primary-foreground: #ffffff;
  --primary-background-light: #333;
  --primary-background-lighter: #555;
}

html,
button,
input {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--primary-foreground);
}

body {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  background: rgb(18, 18, 18);
  background: linear-gradient(
    90deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(0, 12, 45, 1) 100%
  );
  margin: 0;
  padding: 0;
}

header {
  display: flex;
}

header button:hover:not(.selected) {
  min-width: 11rem;
  font-weight: bold;
  background-color: var(--danger);
}

header button.selected {
  background-color: var(--danger);
}

header button#contact {
  margin-left: auto;
  border-radius: 0 0 0 0.5rem;
  background-color: var(--danger);
}

header nav button:last-child {
  border-radius: 0 0 0.5rem 0;
}

header nav {
  display: flex;
  gap: 0.5rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  flex: 1;
  margin: 0 10vh;
}

main.column {
  flex-flow: column nowrap;
  justify-content: center;
}

button {
  background-color: var(--primary);
  border: none;
  min-width: 10rem;
  padding: 0;
  font-size: 1rem;
  transition: min-width 0.5s, background-color 0.5s;
  cursor: pointer;
}

button a {
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  color: var(--primary-foreground);
}

input {
  font-size: 1rem;
  color: var(--primary-foreground);
  background-color: var(--primary-background-light);
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border: none;
}

h2 {
  font-weight: 200;
  font-style: italic;
}

main section#hero {
  display: flex;
  align-items: center;
}

main section#hero h1 {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 5rem;
}

main section#hero h1 span {
  font-weight: 500;
}

main section#hero img {
  color: var(--primary-foreground);
}

main section.auth-form {
  margin: 0 auto;
  min-width: 400px;
  border: 1px solid var(--primary-background-light);
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--primary-background);
}

main section.auth-form form {
  display: flex;
  flex-flow: column nowrap;
}

main section.auth-form label {
  margin-bottom: 0.8rem;
}

main section.auth-form button.auth-button {
  margin-top: 1rem;
}

main section#aside {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

main section#aside div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.5rem;
}

main section#search {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

main section#search h1 {
  font-size: 2.5rem;
  margin: 0;
}

main section#search input {
  width: 50vw;
  margin-top: 3rem;
}

main section#results {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  margin-top: 2rem;
}

main section#results > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  min-width: 60vw;
  background-color: var(--primary);
  padding: 0 1rem;
  transition: opacity 0.5s;
}

main section#results > div:hover {
  opacity: 0.8;
}

main section#results > div div.title {
  flex: 1;
  font-weight: bold;
  margin: 0 1rem;
  padding: 0 1rem;
}

main section#results > div div.title p.muted {
  margin-top: -0.5rem;
  color: #ffffff88;
  font-weight: lighter;
  font-style: italic;
}

main section#results > div:nth-child(2n) {
  background-color: var(--primary-dark);
}

section#chat {
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  background-color: var(--primary-background-lighter);
  box-shadow: 0 0 10px 10px #00000033;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

section#chat > div {
  background-color: var(--primary-background);
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  border-radius: 0.5rem;
}

section#chat > div div.bubble {
  display: flex;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}

section#chat > div div.bubble div.avatar {
  height: 40px;
  width: 40px;
  border-radius: 999rem;
  background-color: var(--primary);
  flex-shrink: 0;
}

div#floating-back {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  top: 1rem;
  left: 1rem;
  transition: background-color 0.5s;
  background-color: var(--primary-background);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-background-light);
  min-width: 100px;
}

div#floating-back:hover {
  background-color: var(--danger);
  cursor: pointer;
}

button:hover {
  font-weight: bold;
  background-color: var(--danger);
}

footer {
  background-color: var(--primary-background);
  border-top: 1px solid var(--primary-background-light);
  color: var(--primary-background-lighter);
  padding: 1rem 1.5rem;
}
