/* @import is a CSS rule that helps you load external fonts in your site */
/* You can copy-paste these import rules into your CSS by heading over to: */
/* https://fonts.google.com/ */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* The :root selector is used to set global CSS variables */
  /* All CSS variables must start with 2 dashes (i.e. "--") */
  --danger: #ff3300;
  --success: #33b127;
  --warning: #e7d90b;
  --primary: #006fd6;
  --primary-background: #111111;
  --primary-foreground: #ffffff;
}

html,
button {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--primary-foreground);
}

body {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  background: rgb(18, 18, 18);
  background: linear-gradient(
    90deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(0, 12, 45, 1) 100%
  );
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 0 10vw;
}

main section#hero-section {
  display: flex;
  gap: 50px;
  align-items: center;
}

main section#hero-section h1 {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 5rem;
}

main section#hero-section h1 span {
  font-weight: 500;
}

h2 {
  font-weight: 200;
  font-style: italic;
}

main section#hero-section img {
  color: var(--primary-foreground);
}

main section#login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main section#login-section div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

main section#login-section div button:hover {
  font-weight: bold;
  background-color: var(--danger);
}

button {
  background-color: var(--primary);
  border: none;
  padding: 0.5rem 2rem;
  min-width: 150px;
  font-size: 1rem;
  transition: min-width 0.5s, background-color 0.5s;
}

header {
  display: flex;
}

header button:hover {
  min-width: 200px;
  font-weight: bold;
  background-color: var(--danger);
}

header nav button:last-child {
  border-radius: 0 0 0.5rem 0;
}

header nav {
  display: flex;
  gap: 5px;
}

header button#contact-us {
  margin-left: auto;
  border-radius: 0 0 0 0.5rem;
  background-color: var(--danger);
}

footer {
  background-color: var(--primary-background);
  border-top: 1px solid #333;
  color: #555;
  padding: 1rem 2rem;
}
