{% extends "base.html" %}

{% block additional_links %}
  <link href="{{ url_for('static', filename='styles/dashboard.css') }}" rel="stylesheet" />
  <script type="module" src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>
{% endblock additional_links %}

{% block title %}
  L3 | Dashboard
{% endblock title %}

{% block nav_buttons %}
  <button class="button" id="logout">Logout</button>
{% endblock nav_buttons %}

{% block content %}
  <section id="profile" class="cols">
    <p class="title" id="welcome">Welcome, {{ user.first_name }}</p>
    <div id="profile-details" class="rows">
      <img src="{{ url_for('static', filename='images/avatar.jpg') }}"
           id="profile-image"
           alt="Profile Image"
           height="100"
           width="100" />
      <div id="details" class="cols">
        <p>
          <span class="badge">Full Name</span> {{ user.full_name }}
        </p>
        <p>
          <span class="badge">Email</span> {{ user.email }}
        </p>
        <p>
          <span class="badge">Occupation</span> {{ user.occupation }}
        </p>
      </div>
      <div id="controls" class="cols">
        <button class="button secondary">Edit Profile</button>
        <button class="button secondary">Change Password</button>
        <button class="button danger">Delete Account</button>
      </div>
    </div>
  </section>

  <div id="divider" class="rows">
    <section id="latest-reads" class="card cols">
      <p class="card-title">Latest Reads</p>
      <div class="items cols">
        {% for document in latest_reads %}
          <div class="item rows">
            <div class="cols">
              <div class="rows">
                <p class="name">{{ document.name }}</p>
                <span class="badge">{{ document.type }}</span>
              </div>
              <p class="small">Last Read: {{ document.date }}</p>
            </div>
            <button class="button">Read</button>
          </div>
        {% endfor %}
      </div>
      <div class="controls">
        <button id="library" class="button">Go to Library</button>
      </div>
    </section>
    <section id="your-network" class="card cols">
      <p class="card-title">Your Network</p>
      <div class="items cols">
        {% for user in last_online %}
          <div class="item rows">
            <div class="cols">
              <div class="rows">
                <p class="name">{{ user.name }}</p>
                <span class="badge">{{ user.expertise }}</span>
              </div>
              <p class="small">Last Online: {{ user.last_online }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="controls">
        <button id="network" class="button">View Full Network</button>
      </div>
    </section>
  </div>
{% endblock content %}
