{% extends "base.html" %}

{% block additional_links %}
  <link href="{{ url_for('static', filename='styles/landing.css') }}" rel="stylesheet" />
  <script type="module" src="{{ url_for('static', filename='scripts/landing.js') }}"></script>
{% endblock additional_links %}

{% block title %}
  L3 | Welcome
{% endblock title %}

{% block nav_buttons %}
  <button class="button" id="register">Register</button>
  <button class="button" id="login">Login</button>
{% endblock nav_buttons %}

{% block content %}
  <section id="title">
    <p>Law</p>
    <p>Lanka</p>
    <p>Lookup</p>
  </section>
  <section id="main-image" class="rows">
    <img src="{{ url_for('static', filename='images/logo-letters.svg') }}"
         alt="Main Image"
         height="200"
         width="200" />
  </section>
  <section id="features" class="container cols">
    {% for feature in features %}
      <div class="card">
        <p class="card-title">{{ feature.title }}</p>
        <p>{{ feature.description }}</p>
      </div>
    {% endfor %}
  </section>
{% endblock content %}
