<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      href="{{ url_for('static', filename='styles/common.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='styles/login.css') }}"
      rel="stylesheet"
    />
    <script
      type="module"
      src="{{ url_for('static', filename='scripts/common.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='scripts/login.js') }}"
    ></script>
    <title>L3 | Login</title>
  </head>
  <body class="container cols">
    <header id="navbar" class="rows">
      <img
        src="{{ url_for('static', filename='images/logo.svg') }}"
        alt="Law Lanka Lookup Logo"
        id="logo"
        height="50"
        width="50"
      />
      <section id="nav-buttons" class="rows">
        <button class="button" id="register">Register</button>
      </section>
    </header>

    <section id="modal" class="hidden">
      <div id="modal-container" class="card">
        <p id="modal-title" class="card-title">No modal title</p>
        <p id="modal-message">No modal message.</p>
        <div class="controls">
          <button class="button" id="modal-ok">OK</button>
        </div>
      </div>
    </section>

    <main class="container cols">
      <section id="login-form" class="card">
        <p class="card-title">Login</p>
        <form action="/login" method="POST" class="cols">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            autocomplete="email"
            required
          />

          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
            autocomplete="current-password"
            required
          />
          <button type="submit" class="button">Login</button>
        </form>
      </section>
    </main>

    <footer class="rows">
      <p>&copy; 2024 Law Lanka Lookup. All Rights Reserved.</p>
    </footer>
  </body>
</html>
