<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      href="{{ url_for('static', filename='styles/common.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='styles/register.css') }}"
      rel="stylesheet"
    />
    <script
      type="module"
      src="{{ url_for('static', filename='scripts/common.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='scripts/register.js') }}"
    ></script>
    <title>L3 | Register</title>
  </head>
  <body class="container cols">
    <header id="navbar" class="rows">
      <img
        src="{{ url_for('static', filename='images/logo.svg') }}"
        alt="Law Lanka Lookup Logo"
        id="logo"
        height="50"
        width="50"
      />
      <section id="nav-buttons" class="rows">
        <button class="button" id="login">Login</button>
      </section>
    </header>

    <section id="modal" class="hidden">
      <div id="modal-container" class="card">
        <p id="modal-title" class="card-title">No modal title</p>
        <p id="modal-message">No modal message.</p>
        <div class="controls">
          <button class="button" id="modal-ok">OK</button>
        </div>
      </div>
    </section>

    <main class="container cols">
      <section id="register-form" class="card">
        <p class="card-title">Register</p>
        <form
          action="/register"
          method="POST"
          id="registration-form"
          class="cols"
        >
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            autocomplete="email"
            required
          />

          <label for="occupation">Occupation</label>
          <select id="occupation" name="occupation" required>
            <option value="" disabled selected>Select your occupation</option>
            {% for occupationId, occupation in legal_occupations.items() %}
            <option value="{{ occupationId }}">{{ occupation }}</option>
            {% endfor %}
          </select>

          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
            autocomplete="new-password"
            required
          />

          <label for="confirm-password">Confirm Password</label>
          <input
            type="password"
            id="confirm-password"
            name="confirmPassword"
            placeholder="Confirm your password"
            required
            class="input-field"
          />

          <button type="submit" class="button">Register</button>
        </form>
      </section>
    </main>

    <footer class="rows">
      <p>&copy; 2024 Law Lanka Lookup. All Rights Reserved.</p>
    </footer>
  </body>
</html>
