/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* Global Colors */
:root {
  --primary-color: #080d49;
  --secondary-color: #252525;
  --text-color: #ffffff;
  --background-color: #f0f0f0;
  --danger-color: #ff4d4d;
  --success-color: #00b158;
  --primary-hover-color: #d6d9f0;
  --secondary-hover-color: #3a3a3a;
  --danger-hover-color: #ff6666;
  --danger-light-hover-color: #ffc9c9;
  --success-hover-color: #00cc70;
  --success-light-hover-color: #c6ffe6;
  --border-color: #707070;
  --primary-badge-color: #080d49;
  --secondary-badge-color: #4d4d4d;
  --modal-transparent-background: #ffffffdd;
}

/* Global Styles */
* {
  font-family: "Plus Jakarta Sans", sans-serif;
  box-sizing: border-box;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}

/* Container Classes */
.container {
  display: flex;
  height: 100%;
}

.cols {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.rows {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* Button Styles */
.button {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  color: var(--primary-color);
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--primary-hover-color);
}

.button.secondary {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.button.secondary:hover {
  background-color: var(--secondary-hover-color);
}

.button.danger {
  background-color: var(--danger-color);
  color: var(--text-color);
}

.button.danger:hover {
  background-color: var(--danger-hover-color);
}

.button.danger-light {
  background-color: var(--text-color);
  color: var(--danger-color);
}

.button.danger-light:hover {
  background-color: var(--danger-light-hover-color);
}

.button.success {
  background-color: var(--success-color);
  color: var(--text-color);
}

.button.success:hover {
  background-color: var(--success-hover-color);
}

.button.success-light {
  background-color: var(--text-color);
  color: var(--success-color);
}

.button.success-light:hover {
  background-color: var(--success-light-hover-color);
}

/* Card Styles */
.card {
  background-color: var(--secondary-color);
  padding: 1.5rem 2rem;
  width: 600px;
  border-radius: 0.5rem;
}

.card p,
.card label {
  color: var(--text-color);
}

.card p.card-title {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

.card div.controls {
  width: 100%;
  margin-top: 1.5rem;
}

/* Modal Styles (derives card styles) */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--modal-transparent-background);
}

.modal.hidden {
  display: none;
}

.modal-container p.card-title {
  border-bottom: 1px solid var(--text-color);
}

.modal-container .modal-top-controls p.card-title {
  width: 100%;
}

.modal-container.danger {
  background-color: var(--danger-color);
}

.modal-container.success {
  background-color: var(--success-color);
}

/* Modal Z-indices */
#edit-profile-modal {
  z-index: 10;
}

#message-modal {
  z-index: 20;
}

/* Body Styles */
body.container.cols {
  height: 100vh;
  background-color: var(--background-color);
}

/* Form Styles */
.form-container {
  width: 500px;
}

.form-container form {
  align-items: start;
  gap: 0.5rem;
}

.form-container form button[type="submit"] {
  align-self: center;
}

label {
  font-size: 0.9rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.2rem;
  font-weight: 600;
  width: 100%;
}

input[type="text"]:last-of-type,
input[type="email"]:last-of-type,
input[type="password"]:last-of-type,
select:last-of-type {
  margin-bottom: 0;
}

/* Logo Styles */
img#logo {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

/* Badge Styles */
span.badge {
  background-color: var(--primary-badge-color);
  color: var(--text-color);
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* Header, Navbar and Footer Styles */
header {
  background-color: var(--primary-color);
}

header#navbar {
  width: 100%;
  justify-content: left;
  padding: 0.5rem 1rem;
}

header#navbar section#nav-buttons {
  margin-left: auto;
}

footer.rows {
  background-color: var(--primary-color);
  width: 100%;
  padding: 1rem 0;
}

footer.rows p {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 0.8rem;
}
