main section#register-form-container {
  width: 500px;
}

main section#register-form-container form {
  align-items: start;
  gap: 0.5rem;
}

main section#register-form-container form button {
  align-self: center;
}
